@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  /* Nav Bar: */
  --grey50: hsla(285, 2%, 39%, 1);
  --grey100: hsla(0, 0%, 38%, 1);
  --grey200: hsla(0, 0%, 19%, 1);
  --grey300: hsla(0, 0%, 10%, 1);

  /* ! Font Color: */
  --lightFontClr: hsl(0, 0%, 89%);
  --midFontClr: hsl(0, 0%, 38%);
  --darkFontClr: hsla(0, 0%, 19%, 1);

  /** Strokes */
  --stroke50: hsla(0, 0%, 86%, 1);
  --stroke100: hsla(0, 0%, 88%, 1);
  --stroke200: hsla(0, 0%, 38%, 1);

  /* States: */
  --hoverState: hsla(0, 0%, 95%, 1);
  --pressedState: hsla(0, 0%, 94%, 1);
  --focusState: hsla(214, 100%, 41%, 1);

  /* Background Colors: */
  --bgWhite: #ffffff;
  --bgStainWhite: hsla(0, 0%, 95%, 1);

  --lightGreen: hsla(153, 96%, 60%, 1);
}

/* UTILS: */
.flex-plain {
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-radius {
  border-radius: 8px;
}
.gap {
  gap: 8px;
}
.custom-fz {
  font-size: 12px;
}
.font-color {
  color: var(--lightFontClr);
}
.font-color-dark {
  color: var(--darkFontClr);
}
.font-weight {
  font-weight: 500;
}
.no-border {
  border: none;
}
.fz-13 {
  font-size: 13px;
}
.pointer {
  cursor: pointer;
}
.grid-center {
  display: grid;
  place-items: center;
}
.setup-text {
  font-weight: 600;
  font-size: 13px;
}
.no-bg {
  background-color: transparent;
}

header {
  padding-inline: 12px;
  height: 56px;
  position: relative;
  z-index: 5;
  background-color: var(--grey300);
}

.logo-wrapper {
  flex: 1;
}
.bag {
  display: none;
}

.search-box {
  width: 480px;
  height: 32px;
  position: relative;
}

.search-icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.search-box input {
  width: 100%;
  height: 100%;
  background-color: var(--grey200);
  border: none;
  border: 1px solid var(--stroke200);
  padding-left: 30px;
  outline: none;
  color: var(--bgWhite);
}
.search-box input:hover {
  border: 1px solid var(--stroke100);
}
.search-box input:focus,
.search-box input:active {
  border: 2px solid var(--stroke100);
}
.search-box input::placeholder {
  font-weight: 500;
  font-size: 13px;
  color: var(--grey100);
}

.notification-container {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  gap: 8px;
}
.notification-box {
  width: 32px;
  height: 32px;
  background-color: var(--grey200);
  display: grid;
  place-items: center;
}

.user-container {
  width: 142px;
  height: 32px;
  padding: 2px 2px 2px 8px;
  background-color: var(--grey200);
}
.user-container:hover,
.notification-box:hover {
  background-color: var(--grey100);
}
.user-container:focus,
.notification-box:focus,
.notification-box:active,
.user-container:active {
  background-color: var(--grey50);
}
.user-container p {
  font-size: 12px;
  font-weight: 500;
  color: var(--lightFontClr);
}
.user {
  width: 28px;
  height: 28px;
  display: grid;
  place-items: center;
  background-color: var(--lightGreen);
}
.user p {
  font-weight: 500;
  color: hsla(0, 0%, 0%, 0.4);
}

section {
  min-height: calc(100dvh - 56px);
  background-color: var(--bgStainWhite);
  padding-top: calc(88px - 56px);
}

.section-content-container {
  width: 800px;
  margin-inline: auto;
}

.trial-box {
  background-color: var(--grey300);
  padding: 12px 16px;
  margin-bottom: 14px;
}

.select-btn {
  padding: 6px 12px;
  background-color: var(--bgWhite);
  color: var(--darkFontClr);
  font-weight: 600;
  border: 1px solid var(--bgWhite);
}
.select-btn:hover {
  background-color: hsla(0, 0%, 97%, 1);
  border: 1px solid hsla(0, 0%, 71%, 1);
}
.select-btn:active {
  border: 1px solid var(--bgWhite);
  box-shadow: 0px 3px 0px 0px hsla(0, 0%, 88%, 1) inset;
  -webkit-box-shadow: 0px 3px 0px 0px hsla(0, 0%, 88%, 1) inset;
  -moz-box-shadow: 0px 3px 0px 0px hsla(0, 0%, 88%, 1) inset;
}

.close-btn {
  width: 32px;
  height: 32px;
}

.setup-box {
  padding: 16px;
  border-radius: 18px;
  border: 1px solid var(--stroke50);
  background-color: var(--bgWhite);
}

.setup-intro-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: unset;
}

.setup-guide {
  font-weight: 600;
  font-size: 14px;
  color: var(--darkFontClr);
  line-height: 19.6px;
}

.progress-bar {
  width: 72px;
  border-radius: 18px;
  overflow: hidden;
  height: 6px;
  border: 1px solid var(--stroke50);
}
.progress {
  width: 18px;
  height: 6px;
  background-color: var(--grey300);
}

.setup-content-text {
  display: flex;
  align-items: start;
}
.setup-content {
  border-radius: 10px;
  background-color: var(--bgStainWhite);
  padding: 8px 12px;
  align-items: start;
}

.setup-main-content {
  position: relative;
}
.setup-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
.setup-text-wrapper {
  width: 440px;
}
.choose-text {
  color: var(--midFontClr);
  line-height: 19.6px;
  margin-bottom: 10px;
}
.choose-text span {
  font-weight: 14px;
  color: var(--focusState);
}

.setup-margin {
  margin-bottom: unset;
}

.theme-btn {
  padding: 6px 12px;
  border: 1px solid var(--stroke100);
  border-radius: 6px;
  background-color: hsla(0, 0%, 25%, 1);
}
.theme-btn:hover {
  background-color: hsla(0, 0%, 16%, 1);
}
.theme-btn:active {
  box-shadow: 0px 3px 0px 1px rgba(0, 0, 0) inset;
  -webkit-box-shadow: 0px 3px 0px 1px rgba(0, 0, 0) inset;
  -moz-box-shadow: 0px 3px 0px 1px rgba(0, 0, 0) inset;
}
.theme-btn:focus,
.select-btn:focus {
  outline: 2px solid var(--focusState);
}

.hidden-setup {
  background-color: var(--bgWhite);
}
.hidden-content,
.hidden-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: all 300ms;
}
.hidden-content > div,
.hidden-content-wrapper > div {
  overflow: hidden;
}
.show-content {
  grid-template-rows: 1fr;
  margin-top: 20px;
}

.setup-btn {
  transition: all 0.3s ease;
}

.setup-select-btn-container svg {
  pointer-events: none;
}

.rotate-btn {
  transform: rotate(180deg);
}
.reveal-setup-margin {
  margin-bottom: 10px;
}
.reveal-margin {
  margin-bottom: 16px;
}
.reveal-img {
  display: block;
}
.remove-img {
  display: none;
}

.store-wrapper {
  position: fixed;
  width: 320px;
  top: 64px;
  right: 12px;
  padding: 6px;
  background-color: var(--bgWhite);
  border: 1px solid var(--stroke50);
  border-radius: 14px;
  z-index: -1;
  transition: all 0.3s ease;
  transform: translateY(-110%);
  opacity: 0;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.05);
}

.user-name {
  font-weight: 600;
  color: var(--darkFontClr);
  font-size: 13px;
}

.store-links-wrapper {
  border-bottom: 1px solid var(--stroke50);
}
.store-links {
  padding: 10px;
  background-color: transparent;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease;
}
.store-links:hover,
.notification-btn:hover {
  background-color: hsla(0, 0%, 91%, 1);
}
.store-links:active,
.notification-btn:active {
  background-color: hsla(0, 0%, 88%, 1);
}
.store-links:focus,
.notification-btn:focus {
  border: 2px solid var(--focusState);
}

.store-links2 {
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.store-user-name {
  background-color: var(--bgStainWhite);
  padding: 4px 12px 4px 8px;
  border-radius: 8px;
}

.store-user-email {
  font-size: 12px;
  color: var(--grey100);
}

.notification-box-container {
  position: fixed;
  width: 383px;
  top: 64px;
  right: 12px;
  padding: 16px;
  background-color: var(--bgWhite);
  border: 1px solid var(--stroke50);
  border-radius: 14px;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(-110%);
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.05);
}

.notification-title {
  font-weight: 600;
  font-size: 14px;
}
.notification-heading {
  margin-bottom: 16px;
}

.notification-btns {
  gap: 16px;
}
.notification-btn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.notification-wrapper {
  background-color: var(--bgStainWhite);
  padding: 16px;
}

.notification {
  font-weight: 600;
  color: var(--midFontClr);
}

.overlay {
    position: fixed;
    z-index: 2;
    inset: 0;
    transform: scale(0);
}

.show-wrapper {
  transform: translateY(0%);
  opacity: 1;
  z-index: 3;
}
.show-overlay {
    transform: scale(1);
}

@media (max-width: 1023px) {
  .bag {
    display: block;
  }
  .logo {
    display: none;
  }
  .user-container > p {
    display: none;
  }
  .user-container {
    width: fit-content;
    height: 32px;
    padding: unset;
  }
  .user-main {
    height: 100%;
  }
}
@media (max-width: 900px) {
  header {
    width: 100%;
  }
  .logo-wrapper {
    flex: unset;
  }
  .search-box {
    width: 100%;
  }
  .section-content-container {
    width: 100%;
  }
  .top-text-wrapper {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }
  .trial-box {
    border-radius: unset;
    align-items: start;
  }
}

@media (max-width: 750px) {
  .setup-text-wrapper {
    width: 100%;
  }
  .setup-img {
    display: none;
  }
}

@media (max-width: 500px) {
    .notification-box-container {
      width: 95%;
      margin-inline: auto;
    }

}
@media (max-width: 360px) {
  .store-wrapper {
    width: 100%;
    right: 0;
  }
}
